*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header
{
    width: 100%;
}

.header .top_header
{
    max-width: 100%;
    display: flex;
    padding: 10px 10px;
    background: #f6f7f8;
}

.header .top_header .icon
{
    margin-left: 20px;
    color: #ababab;
    font-size: 19px;
}

.header .top_header .info p
{
    margin-left: 10px;
    color: #8a8a8a;
}

.header .mid_header
{
    display: flex;
    padding: 20px 40px;
    max-width: 100%;
    justify-content: space-between;
}

.header .mid_header .logo img
{
    cursor: pointer;
    object-fit: cover;
}

.header .mid_header .search_bar input
{
    padding: 10px 10px;
    outline: none;
    background: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    border: none;
    border: 1px solid #8a8a8a;
}

.header .mid_header .search_bar button
{
    padding: 10px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #cd3cca;
    background: #cd3cca;
    color: #fff;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.5s;
    font-weight: 600;
}

.header .mid_header .search_bar button:hover
{
    background: #fed700;
    color: #cd3cca;
}

.header .mid_header .user
{
    display: flex;
    margin-right: 30px;
}

.header .mid_header .user .icon
{
    margin-right: 10px;
}

.header .mid_header .user .icon .btn button
{
    border: none;
    outline: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
}

.header .bottom_header
{
    width: 100%;
    display: flex;
    padding: 10px 10px;
    background: #232323;
}